button {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.button,
.macaroni {
    background-color: yellow;
}

.button,
.potpie {
    background-color: bisque;
}

.button,
.beans {
    background-color: greenyellow;
}

h1 {
    text-align: center;
}

p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li{
    display: inline;
    margin: 10px;
}