h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.img {
    width: 400px;
    height: auto;
    text-align: center;
    border-style: double;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
