/* All odd numbered elements: a light red/pink background, and a list of 
fonts containing "Verdana" and "Dejavu Sans" with "sans-serif" as a fallback.*/

/* The Second element: blue text and a font size of 36px*/

/* The third element: in addition to the styles for all odd numbered 
elements, add a font size of 24px */

/* The fourth element: a light green background, a font size of 24px, and bold */


p{
    background-color: #FA8072;
    font-family: "Verdana", "Dejavu Sans", sans-serif;
}

#number2{
    color: #0000FF;
    font-size: 36px;
}

#number3{
    font-size: 24px;
}

#number4{
    background-color: #90EE90;
    font-size: 24px;
    font-weight: 700;
}