/* Only the "p" elements that are descendeants of the "div" element 
should have a yellow background, red text, a font size of 20px, and 
center aligned */

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* this shows the parent and children with the "container" class being 
the parents and the "text" class being the children. The white space in
between them is what makes them related, thus applying the traits declared
to both the parent and the child. */