/* Make the element with both the "avatar" and "proportioned" classes
300 pixels wide, then give it a height so that it retains its original
square proportions (don't hardcode in a pixel value for height). */

/*Make the element with both the "avatar" and "distorted" classes 200
pixels wide, then make its height twice as big as its width (here you 
should hardcode in a pixel value). */

.avatar.proportioned {
    width: 300px;
    height: auto
}

.avatar.distorted {
    width: 200px;
    height: 400px
}

/* the use of no whitespace or commas in between the classes means that
the CSS will select any elements that are being claimed */